//
// Extended from bootstrap
//
// shadows


.smooth-shadow-sm { box-shadow: $smooth-shadow-sm !important; }
.smooth-shadow-md { box-shadow: $smooth-shadow-md !important; }
.smooth-shadow-lg { box-shadow: $smooth-shadow-lg !important; }
