.fade.alert {
  padding: 0.5rem 1rem !important;
}

.table thead th {
  color: unset;
}

.rs-input-group {
  &:hover {
    border-color: #dfe3e8 !important;
  }
  &:focus-within {
    border-color: #00d1e8 !important;
    outline: none !important;
  }
}

.rs-input-group input {
  padding: 0.6rem 1rem !important;
}
