// Inter Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Font Awesome
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

// Material Design Icons
@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css");

// Feathers CSS for Before Icon
@import url("/fonts/feather-icons/feather.css");

// Bootstrap functions
@import "~bootstrap/scss/functions";

// User Variables
@import "user-variables";

// theme variables
@import "theme/variables";

//utilities
@import "theme/utilities";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Theme
@import "theme/theme";

// User
@import "user";

input,
button,
span,
object,
iframe,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
a,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    font-size: 13px !important;
}

.heading-permalink {
    color: transparent;
    margin-left: -2rem;

    &:hover {
        color: transparent;
    }

    &::before {
        color: rgba(82, 95, 127, 0);
        content: "#";
    }

    &:hover:before {
        color: $primary;
    }
}

label.form-label.col-form-label {
    padding: 5px !important;
}

input.form-control:focus {
    border-color: #00d1e8;
    box-shadow: none;
}

select.form-select:focus {
    border-color: #00d1e8;
    box-shadow: none;
}

button.btn.btn-primary {
    background: #00d1e8;
    border-color: #00d1e8;

    &:active {
        background: #00d1e8;
        border-color: #00d1e8;
    }
}

.form-check-input {
    &:checked {
        background-color: #00d1e8;
        border-color: #00d1e8;
    }

    &:focus {
        border-color: #00d1e8;
        box-shadow: none;
    }
}

.form-check-input {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.25rem;
}

label.form-check-label {
    vertical-align: text-top;
}

textarea.form-control {
    &:focus {
        border-color: #00d1e8;
        box-shadow: none;
    }
}

.action .dropdown-item {
    padding: 0.125rem 0.5rem;
}

.action .btn {
    color: #fff;
}

.rs-picker-toggle-wrapper {
    display: block !important;
}

.list-terminal .list-group-item.active {
    background-color: #00d1e8;
    border-color: #00d1e8;
}

.tabs-custome.nav-tabs .nav-link.active {
    color: #00d1e8 !important;
}

.tabs-custome .nav-link {
    color: unset !important;
}

.css-13cymwt-control {
    border-color: #dfe3e8 !important;
    border-radius: 0.375rem !important;

    &:hover {
        border-color: #00d1e8 !important;
    }
}

.css-t3ipsp-control {
    border-radius: 0.375rem !important;
    box-shadow: none !important;
    border: 1px solid #00d1e8 !important;
}

.rs-calendar-table-cell-content {
    border-radius: 50px !important;
}

label.position-relative.form-label {
    top: 0.5rem;
}

.auth h3.fw-bold {
    color: #00d1e8;
}
